@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@font-face {
	font-family: 'Yekan';
	src: url('./assets/fonts/Yekan/medium.woff') format('woff'),
		url('./assets/fonts/Yekan/bold.woff') format('woff'),
		url('./assets/fonts/Yekan/regular.woff') format('woff'),
		url('./assets/fonts/Yekan/light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Yekan', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	direction: rtl;
	overflow-x: hidden;
}

#root {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
